
@font-face {
  font-family: ms-eb;
  src: url(../webfonts/Montserrat-ExtraBold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: ms-b;
  src: url(../webfonts/Montserrat-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: ms-i;
  src: url(../webfonts/Montserrat-Italic.ttf);
}
@font-face {
  font-family: ms-r;
  src: url(../webfonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: ms-t;
  src: url(../webfonts/Montserrat-Thin.ttf);
}

.f-title{
	font-family: ms-b;
	font-size: 1.8em;
}
.f-sub-title{
	font-family: ms-b;
	font-size: 1.1em;
}
.f-txt{
	font-family: ms-r;
	font-size: 1.1em;
}
.txt-italic{
	font-family: ms-i;
	font-size: 1.1em;
}
.txt-bold{
	font-family: ms-b;
	font-size: 1.1em;
}
.txt-ebold{
	font-family: ms-eb;
	font-size: 1.1em;
}
.txt-thin{
	font-family: ms-t;
	font-size: 1.1em;
}
.fnt-small{
	font-size: 0.6em !important;
}
.fnt-large{
	font-size: 1.2em !important;
}
.fnt-big{
	font-size: 1.8em !important;
}/*
.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
} 
*/
.t-header {
	padding-left: 5em;
}
/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal a.close-modal[class*="icon-"] {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}


.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  z-index: 400;
}

.autocomplete-items {
  border: 1px solid #043c5e;
  border-bottom: none;
  border-top: none;
  z-index: 500;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #e2eef5;
  border-bottom: 1px solid #043c5e;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.warnColor{
background-color: #F5B7B1 !important;
}